html {
  scroll-behavior: smooth;
}

#root {
  background-image: url('./assets/passport-backgroun-img.png');
}

.photo {
  width: 200px;
  height: auto;
}

/* this is the index card */
.card-trip {
  text-align: center;
  background-color: white;
  margin: auto;
}
.card-image-index {
  width: 250px;
  margin-bottom: 5%;
  margin-top: 5%;
}

/* this is the show image */
.card-image-top {
  width: 400px;
  margin-bottom: 5%;
}

/* TripsNew, TripsShow, signup and login */
.card-body {
  text-align: center;
  background-color: rgba(240, 248, 255, 0.755);
}

.card-place-new {
  background-color: rgba(252, 228, 228, 0.821);
  text-align: center;
}

.card-body-place {
  padding-left: 5%;
}

.card-search {
  background-color: rgba(194, 255, 255, 0.744);
}

.card-body-new {
  background-color: rgba(224, 242, 244, 0.797);
  text-align: center;

}

.card-search {
  text-align: center;
}

.trip-new {
  text-align: center;
}

.card-place-image img {
  width: 450px;
}